*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100vw;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpMlYoTZRTvamix-a0fc8K2QGyXfXhLhauWtVWls5wgaZu7Si5qOox-A-jJ8BMoSjhMJM&usqp=CAU');
  display:flex;
  justify-content: center;
  overflow: hidden;
}

.parent-div{
  margin-top: 100px;
  background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTV8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHx8fDE2OTU4NjUzMzR8MA&ixlib=rb-4.0.3');
  height: 100vh;
  width: 50vw;
}

.heading{
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: 700;
  font-family: 'Mooli', sans-serif;
}

.upper-half{
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.input-div{
  padding: 10px;
  margin-left: 15px;
}

.input-div input{
  height: 38px;
  width: 12vw;
  border-radius: 8px;
}

.btn{
  margin-left: 5px;
  margin-top: 1px;
}